extends layout

block content

    //- Error or Success section
    if success && success != ""
        div.alert.alert-success #{success}
    if error && error != ""
        div.alert.alert-danger #{error}
    if form_error
        each ferror in form_error
            div.alert.alert-danger #{ferror}

    //- Admin message
    if adminMessage
        div.panel.panel-default
            div.panel-heading Message FABLAB :  #{adminMessage.date}
            div.panel-body #{adminMessage.message}

    //- Panel for sending mail
    div.panel.panel-info
        div.panel-heading #{title}
        div.panel-body
            p Bienvenue ! Vous pouvez utiliser le formulaire ci-dessous pour notifier un responsable FABLAB !
            //- Form
            form.form-horizontal(name="send_mail", method="post", action="/")
                div.form-group
                    label(for="textareaMessage") Saisissez votre message :
                    textarea#textareaMessage.form-control(type="text", name="content")
                    each people in peoples
                        input(type="checkbox" name="emails[]" value="#{people.email}")
                        | #{people.firstName} #{people.lastName} #{people.email}
                        br

                button.btn.btn-primary(type="submit") Envoyer