extends layout

block content

    div.col-md-12
        h1 Actu FabLab
    div.col-md-8
        //- Admin message
        if adminMessage
            div.bs-message
                p.bg-success Un nouveau message
            div.panel.panel-default
                div.panel-heading Message FABLAB :  #{adminMessage.date}
                div.panel-body #{adminMessage.message}
        else
            div.bs-message
                p.bg-danger Pas de nouveau message

        div.col-md-6.panel-schedule
            h3 Horaire d'ouverture
            hr.style-one
            table.table
                thead
                    tr
                        td Jour
                        td Ouverture
                tbody
                    each item in scheduled
                        tr
                            td #{item.day}
                            if item.open
                                td #{item.opening_morning} à #{item.closing_morning} - #{item.opening_afternoon} à #{item.closing_afternoon}
                            else
                                td Fermé
    div.col-md-4
        div.horizontal-line
        h3 Vous souhaitez contacter un responsable ?
        h4 Scannez ce Qr-code
        div.col-md-1
        div.col-md-3
            img.qr-image(src="/qr-code")
